$primary-color: #d7fa00;
$test-gray: rgb(160, 160, 160);

@mixin flex($justify, $align, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

.header-container {
  padding: 10px 20px;
  background-color: black;
  @include flex(space-between, center, 0);

  ul {
    @include flex(center, center, 20px);

    li {
      list-style: none;
      font-weight: 400;
      font-size: 13px;
    }
  }
}

section {
  flex-wrap: wrap;
  padding: 20px 40px;
  @include flex(0, 0, 20px);
}

.content-container {
  flex-direction: column;
  @include flex(0, flex-start, 5px);
}

.content-container img {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 3px;
}

@mixin font($size, $color, $border, $padding) {
  font-size: $size;
  color: $color;
  border: $border;
  padding: $padding;
}

.content-container span {
  border-radius: 3px;
  @include font(12px, #d7fa00, 1px solid #d7fa00, 4px 5px);
}

.content-container div {
  font-size: 18px;
  font-weight: 600;
}

.content-container p {
  @include font(12px, rgb(160, 160, 160), 0, 0);
}
